@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255;
    --black: 0 0 0;
    --refactor-green-50: 227 249 229;
    --refactor-green-100: 193 234 197;
    --refactor-green-200: 163 217 165;
    --refactor-green-300: 123 196 127;
    --refactor-green-400: 87 174 91;
    --refactor-green-500: 63 145 66;
    --refactor-green-600: 47 129 50;
    --refactor-green-700: 32 114 39;
    --refactor-green-800: 14 88 20;
    --refactor-green-900: 5 64 10;
    --refactor-purple-50: 234 226 248;
    --refactor-purple-100: 207 188 242;
    --refactor-purple-200: 160 129 217;
    --refactor-purple-300: 134 98 199;
    --refactor-purple-400: 114 75 183;
    --refactor-purple-500: 101 60 173;
    --refactor-purple-600: 81 39 155;
    --refactor-purple-700: 66 25 135;
    --refactor-purple-800: 52 18 111;
    --refactor-purple-900: 36 7 84;
    --refactor-yellow-50: 255 250 235;
    --refactor-yellow-100: 252 239 199;
    --refactor-yellow-200: 248 227 163;
    --refactor-yellow-300: 249 218 139;
    --refactor-yellow-400: 247 208 112;
    --refactor-yellow-500: 233 185 73;
    --refactor-yellow-600: 201 154 46;
    --refactor-yellow-700: 162 124 26;
    --refactor-yellow-800: 124 94 16;
    --refactor-yellow-900: 81 60 6;
    --refactor-gray-50: 247 247 247;
    --refactor-gray-100: 225 225 225;
    --refactor-gray-200: 207 207 207;
    --refactor-gray-300: 177 177 177;
    --refactor-gray-400: 158 158 158;
    --refactor-gray-500: 126 126 126;
    --refactor-gray-600: 98 98 98;
    --refactor-gray-700: 81 81 81;
    --refactor-gray-800: 59 59 59;
    --refactor-gray-900: 34 34 34;
    --refactor-red-50: 255 238 238;
    --refactor-red-100: 250 205 205;
    --refactor-red-200: 242 155 155;
    --refactor-red-300: 230 106 106;
    --refactor-red-400: 214 69 69;
    --refactor-red-500: 186 37 37;
    --refactor-red-600: 166 27 27;
    --refactor-red-700: 145 17 17;
    --refactor-red-800: 120 10 10;
    --refactor-red-900: 97 4 4;
    --least-contrast: var(--white);
    --most-contrast: var(--refactor-gray-900);
    --primary-50: var(--refactor-green-50);
    --primary-100: var(--refactor-green-100);
    --primary-200: var(--refactor-green-200);
    --primary-300: var(--refactor-green-300);
    --primary-400: var(--refactor-green-400);
    --primary-500: var(--refactor-green-500);
    --primary-600: var(--refactor-green-600);
    --primary-700: var(--refactor-green-700);
    --primary-800: var(--refactor-green-800);
    --primary-900: var(--refactor-green-900);
    --secondary-50: var(--refactor-purple-50);
    --secondary-100: var(--refactor-purple-100);
    --secondary-200: var(--refactor-purple-200);
    --secondary-300: var(--refactor-purple-300);
    --secondary-400: var(--refactor-purple-400);
    --secondary-500: var(--refactor-purple-500);
    --secondary-600: var(--refactor-purple-600);
    --secondary-700: var(--refactor-purple-700);
    --secondary-800: var(--refactor-purple-800);
    --secondary-900: var(--refactor-purple-900);
    --tertiary-50: var(--refactor-yellow-50);
    --tertiary-100: var(--refactor-yellow-100);
    --tertiary-200: var(--refactor-yellow-200);
    --tertiary-300: var(--refactor-yellow-300);
    --tertiary-400: var(--refactor-yellow-400);
    --tertiary-500: var(--refactor-yellow-500);
    --tertiary-600: var(--refactor-yellow-600);
    --tertiary-700: var(--refactor-yellow-700);
    --tertiary-800: var(--refactor-yellow-800);
    --tertiary-900: var(--refactor-yellow-900);
    --neutral-50: var(--refactor-gray-50);
    --neutral-100: var(--refactor-gray-100);
    --neutral-200: var(--refactor-gray-200);
    --neutral-300: var(--refactor-gray-300);
    --neutral-400: var(--refactor-gray-400);
    --neutral-500: var(--refactor-gray-500);
    --neutral-600: var(--refactor-gray-600);
    --neutral-700: var(--refactor-gray-700);
    --neutral-800: var(--refactor-gray-800);
    --neutral-900: var(--refactor-gray-900);
    --danger-50: var(--refactor-red-50);
    --danger-100: var(--refactor-red-100);
    --danger-200: var(--refactor-red-200);
    --danger-300: var(--refactor-red-300);
    --danger-400: var(--refactor-red-400);
    --danger-500: var(--refactor-red-500);
    --danger-600: var(--refactor-red-600);
    --danger-700: var(--refactor-red-700);
    --danger-800: var(--refactor-red-800);
    --danger-900: var(--refactor-red-900);
    --success-50: var(--refactor-green-50);
    --success-100: var(--refactor-green-100);
    --success-200: var(--refactor-green-200);
    --success-300: var(--refactor-green-300);
    --success-400: var(--refactor-green-400);
    --success-500: var(--refactor-green-500);
    --success-600: var(--refactor-green-600);
    --success-700: var(--refactor-green-700);
    --success-800: var(--refactor-green-800);
    --success-900: var(--refactor-green-900);
  }

  .dark {
    --least-contrast: var(--refactor-gray-900);
    --most-contrast: var(--refactor-gray-50);
    --primary-50: var(--refactor-green-900);
    --primary-100: var(--refactor-green-800);
    --primary-200: var(--refactor-green-700);
    --primary-300: var(--refactor-green-600);
    --primary-400: var(--refactor-green-500);
    --primary-500: var(--refactor-green-400);
    --primary-600: var(--refactor-green-300);
    --primary-700: var(--refactor-green-200);
    --primary-800: var(--refactor-green-100);
    --primary-900: var(--refactor-green-50);
    --secondary-50: var(--refactor-purple-900);
    --secondary-100: var(--refactor-purple-800);
    --secondary-200: var(--refactor-purple-700);
    --secondary-300: var(--refactor-purple-600);
    --secondary-400: var(--refactor-purple-500);
    --secondary-500: var(--refactor-purple-400);
    --secondary-600: var(--refactor-purple-300);
    --secondary-700: var(--refactor-purple-200);
    --secondary-800: var(--refactor-purple-100);
    --secondary-900: var(--refactor-purple-50);
    --tertiary-50: var(--refactor-yellow-900);
    --tertiary-100: var(--refactor-yellow-800);
    --tertiary-200: var(--refactor-yellow-700);
    --tertiary-300: var(--refactor-yellow-600);
    --tertiary-400: var(--refactor-yellow-500);
    --tertiary-500: var(--refactor-yellow-400);
    --tertiary-600: var(--refactor-yellow-300);
    --tertiary-700: var(--refactor-yellow-200);
    --tertiary-800: var(--refactor-yellow-100);
    --tertiary-900: var(--refactor-yellow-50);
    --neutral-50: var(--refactor-gray-900);
    --neutral-100: var(--refactor-gray-800);
    --neutral-200: var(--refactor-gray-700);
    --neutral-300: var(--refactor-gray-600);
    --neutral-400: var(--refactor-gray-500);
    --neutral-500: var(--refactor-gray-400);
    --neutral-600: var(--refactor-gray-300);
    --neutral-700: var(--refactor-gray-200);
    --neutral-800: var(--refactor-gray-100);
    --neutral-900: var(--refactor-gray-50);
    --danger-50: var(--refactor-red-900);
    --danger-100: var(--refactor-red-800);
    --danger-200: var(--refactor-red-900);
    --danger-300: var(--refactor-red-600);
    --danger-400: var(--refactor-red-500);
    --danger-500: var(--refactor-red-400);
    --danger-600: var(--refactor-red-300);
    --danger-700: var(--refactor-red-200);
    --danger-800: var(--refactor-red-100);
    --danger-900: var(--refactor-red-50);
    --success-50: var(--refactor-green-900);
    --success-100: var(--refactor-green-800);
    --success-200: var(--refactor-green-700);
    --success-300: var(--refactor-green-600);
    --success-400: var(--refactor-green-500);
    --success-500: var(--refactor-green-400);
    --success-600: var(--refactor-green-300);
    --success-700: var(--refactor-green-200);
    --success-800: var(--refactor-green-100);
    --success-900: var(--refactor-green-50);
  }
}
