@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0deg 0% 100%;
    --black: 0deg 0% 0%;
    --refactor-red-50: 360deg 100% 97%;
    --refactor-red-100: 360deg 82% 89%;
    --refactor-red-200: 360deg 77% 78%;
    --refactor-red-300: 360deg 71% 66%;
    --refactor-red-400: 360deg 64% 55%;
    --refactor-red-500: 360deg 67% 44%;
    --refactor-red-600: 360deg 72% 38%;
    --refactor-red-700: 360deg 79% 32%;
    --refactor-red-800: 360deg 85% 25%;
    --refactor-red-900: 360deg 92% 20%;
    --refactor-vivid-yellow-50: 49deg 100% 96%;
    --refactor-vivid-yellow-100: 48deg 100% 88%;
    --refactor-vivid-yellow-200: 48deg 95% 76%;
    --refactor-vivid-yellow-300: 48deg 94% 68%;
    --refactor-vivid-yellow-400: 44deg 92% 63%;
    --refactor-vivid-yellow-500: 42deg 87% 55%;
    --refactor-vivid-yellow-600: 36deg 77% 49%;
    --refactor-vivid-yellow-700: 29deg 80% 44%;
    --refactor-vivid-yellow-800: 22deg 82% 39%;
    --refactor-vivid-yellow-900: 15deg 86% 30%;
    --refactor-warm-gray-50: 40deg 23% 97%;
    --refactor-warm-gray-100: 43deg 13% 90%;
    --refactor-warm-gray-200: 40deg 15% 80%;
    --refactor-warm-gray-300: 39deg 11% 69%;
    --refactor-warm-gray-400: 41deg 8% 61%;
    --refactor-warm-gray-500: 41deg 8% 48%;
    --refactor-warm-gray-600: 41deg 9% 35%;
    --refactor-warm-gray-700: 37deg 11% 28%;
    --refactor-warm-gray-800: 40deg 13% 23%;
    --refactor-warm-gray-900: 42deg 15% 13%;
    --refactor-cyan-50: 186deg 100% 94%;
    --refactor-cyan-100: 185deg 94% 87%;
    --refactor-cyan-200: 184deg 80% 74%;
    --refactor-cyan-300: 184deg 65% 59%;
    --refactor-cyan-400: 185deg 57% 50%;
    --refactor-cyan-500: 185deg 62% 45%;
    --refactor-cyan-600: 184deg 77% 34%;
    --refactor-cyan-700: 185deg 81% 29%;
    --refactor-cyan-800: 185deg 84% 25%;
    --refactor-cyan-900: 185deg 91% 17%;
    --tw-green-50: 138deg 76% 97%;
    --tw-green-100: 141deg 84% 93%;
    --tw-green-200: 141deg 79% 85%;
    --tw-green-300: 142deg 77% 73%;
    --tw-green-400: 142deg 69% 58%;
    --tw-green-500: 142deg 71% 45%;
    --tw-green-600: 142deg 76% 36%;
    --tw-green-700: 142deg 72% 29%;
    --tw-green-800: 143deg 64% 24%;
    --tw-green-900: 144deg 61% 20%;
    --least-contrast: var(--white);
    --most-contrast: var(--refactor-warm-gray-900);
    --primary-50: var(--refactor-red-50);
    --primary-100: var(--refactor-red-100);
    --primary-200: var(--refactor-red-200);
    --primary-300: var(--refactor-red-300);
    --primary-400: var(--refactor-red-400);
    --primary-500: var(--refactor-red-500);
    --primary-600: var(--refactor-red-600);
    --primary-700: var(--refactor-red-700);
    --primary-800: var(--refactor-red-800);
    --primary-900: var(--refactor-red-900);
    --secondary-50: var(--refactor-vivid-yellow-50);
    --secondary-100: var(--refactor-vivid-yellow-100);
    --secondary-200: var(--refactor-vivid-yellow-200);
    --secondary-300: var(--refactor-vivid-yellow-300);
    --secondary-400: var(--refactor-vivid-yellow-400);
    --secondary-500: var(--refactor-vivid-yellow-500);
    --secondary-600: var(--refactor-vivid-yellow-600);
    --secondary-700: var(--refactor-vivid-yellow-700);
    --secondary-800: var(--refactor-vivid-yellow-800);
    --secondary-900: var(--refactor-vivid-yellow-900);
    --neutral-50: var(--refactor-warm-gray-50);
    --neutral-100: var(--refactor-warm-gray-100);
    --neutral-200: var(--refactor-warm-gray-200);
    --neutral-300: var(--refactor-warm-gray-300);
    --neutral-400: var(--refactor-warm-gray-400);
    --neutral-500: var(--refactor-warm-gray-500);
    --neutral-600: var(--refactor-warm-gray-600);
    --neutral-700: var(--refactor-warm-gray-700);
    --neutral-800: var(--refactor-warm-gray-800);
    --neutral-900: var(--refactor-warm-gray-900);
    --danger-50: var(--refactor-red-50);
    --danger-100: var(--refactor-red-100);
    --danger-200: var(--refactor-red-200);
    --danger-300: var(--refactor-red-300);
    --danger-400: var(--refactor-red-400);
    --danger-500: var(--refactor-red-500);
    --danger-600: var(--refactor-red-600);
    --danger-700: var(--refactor-red-700);
    --danger-800: var(--refactor-red-800);
    --danger-900: var(--refactor-red-900);
    --success-50: var(--tw-green-50);
    --success-100: var(--tw-green-100);
    --success-200: var(--tw-green-200);
    --success-300: var(--tw-green-300);
    --success-400: var(--tw-green-400);
    --success-500: var(--tw-green-500);
    --success-600: var(--tw-green-600);
    --success-700: var(--tw-green-700);
    --success-800: var(--tw-green-800);
    --success-900: var(--tw-green-900);
  }

  .dark {
    --least-contrast: var(--refactor-warm-gray-900);
    --most-contrast: var(--refactor-warm-gray-50);
    --primary-50: var(--refactor-red-900);
    --primary-100: var(--refactor-red-800);
    --primary-200: var(--refactor-red-700);
    --primary-300: var(--refactor-red-600);
    --primary-400: var(--refactor-red-500);
    --primary-500: var(--refactor-red-400);
    --primary-600: var(--refactor-red-300);
    --primary-700: var(--refactor-red-200);
    --primary-800: var(--refactor-red-100);
    --primary-900: var(--refactor-red-50);
    --secondary-50: var(--refactor-vivid-yellow-900);
    --secondary-100: var(--refactor-vivid-yellow-800);
    --secondary-200: var(--refactor-vivid-yellow-700);
    --secondary-300: var(--refactor-vivid-yellow-600);
    --secondary-400: var(--refactor-vivid-yellow-500);
    --secondary-500: var(--refactor-vivid-yellow-400);
    --secondary-600: var(--refactor-vivid-yellow-300);
    --secondary-700: var(--refactor-vivid-yellow-200);
    --secondary-800: var(--refactor-vivid-yellow-100);
    --secondary-900: var(--refactor-vivid-yellow-50);
    --neutral-50: var(--refactor-warm-gray-900);
    --neutral-100: var(--refactor-warm-gray-800);
    --neutral-200: var(--refactor-warm-gray-700);
    --neutral-300: var(--refactor-warm-gray-600);
    --neutral-400: var(--refactor-warm-gray-500);
    --neutral-500: var(--refactor-warm-gray-400);
    --neutral-600: var(--refactor-warm-gray-300);
    --neutral-700: var(--refactor-warm-gray-200);
    --neutral-800: var(--refactor-warm-gray-100);
    --neutral-900: var(--refactor-warm-gray-50);
    --danger-50: var(--refactor-red-900);
    --danger-100: var(--refactor-red-800);
    --danger-200: var(--refactor-red-900);
    --danger-300: var(--refactor-red-600);
    --danger-400: var(--refactor-red-500);
    --danger-500: var(--refactor-red-400);
    --danger-600: var(--refactor-red-300);
    --danger-700: var(--refactor-red-200);
    --danger-800: var(--refactor-red-100);
    --danger-900: var(--refactor-red-50);
    --success-50: var(--tw-green-900);
    --success-100: var(--tw-green-800);
    --success-200: var(--tw-green-700);
    --success-300: var(--tw-green-600);
    --success-400: var(--tw-green-500);
    --success-500: var(--tw-green-400);
    --success-600: var(--tw-green-300);
    --success-700: var(--tw-green-200);
    --success-800: var(--tw-green-100);
    --success-900: var(--tw-green-50);
  }
}
